# backend/nixpacks.toml
[phases.setup]
aptPkgs = [
    "python3-pip",
    "python3-venv",
    "ffmpeg"
]

[phases.install]
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate && pip install --upgrade pip",
    ". .venv/bin/activate && pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && uvicorn main:app --host 0.0.0.0 --port $PORT"