# backend/nixpacks.toml

[phases.setup]
# Daftar wajib untuk OpenCV di Linux Server
nixPkgs = [
    "python310",
    "ffmpeg",
    "glib",
    "libGL",
    "xorg.libxcb",
    "xorg.libX11",
    "xorg.libXext",
    "xorg.libXrender",
    "xorg.libICE",
    "xorg.libSM"
]

[phases.install]
cmds = ["python -m venv .venv", ". .venv/bin/activate && pip install -r requirements.txt"]

[start]
cmd = ". .venv/bin/activate && uvicorn main:app --host 0.0.0.0 --port $PORT"