# backend/nixpacks.toml

[phases.setup]
# Kita install driver Linux yang dicari oleh OpenCV
# Ini akan menghilangkan error "libxcb.so.1" dan "libGL.so.1"
aptPkgs = [
    "libgl1-mesa-glx",
    "libglib2.0-0",
    "libsm6",
    "libxext6",
    "libxrender1",
    "libxcb1",
    "libx11-6"
]

[phases.install]
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate && pip install -r requirements.txt"
]

[start]
# Start command standar dan stabil
cmd = ". .venv/bin/activate && uvicorn main:app --host 0.0.0.0 --port $PORT"